.blackfield{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    .LBcontent{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 600px;
        width: 90%;
        background-color: $color_white_01;
        box-shadow: 0 0 10px $color_grey_03;
        .headbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 10px;
            height: 45px;
            background-color: $color_grey_02;
            width: 100%;           
            .textfield{
                display: flex;
                align-items: flex-end;
                .title{
                    color: $color_white_01;
                    margin-right: 20px;
                }
                .text{
                    color: $color_white_01;
                }
            }
            .closebtn{
                width: 30px;
                height: 30px;
                background-color: $color_grey_02;
                box-shadow: 0 0 5px $color_grey_01;
                border-radius: 50%;
                @extend %background;
                background-size: 50% 50%;
                background-image: url('~@/assets/img/icon/close_white.svg');
                cursor: pointer;
            }
        }
        .content{
            width: 100%;
            padding: 40px;
            padding-bottom: 20px;
            background-color: $color_white_01;
            .inputbox{
                width: 100%;
                margin-bottom: 20px;
                input[type=text],
                input[type=password]{
                    width: 100%;
                    border:0;
                    border-bottom: 1px solid $color_grey_03;
                    background-color: $color_white_01;
                    color: $color_grey_03;
                    padding: 10px;
                }
                button{
                    width: 100%;
                    border:0;
                    background-color: $color_grey_03;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin-top: 40px;
                    .text{
                        color: $color_white_01;
                    }
                }
            }
            .text_right{
                float: right;
                cursor: pointer;
                padding: 0 5px;
                margin-bottom: 20px;
                .text{
                    color: $color_grey_03;                   
                }
            }
        }
        @media screen and (max-width: 768px) {
            .content{
                padding: 30px;
                padding-bottom: 10px;               
                .inputbox{
                    margin-bottom: 15px;
                    button{                   
                        margin-top: 10px;
                    }              
                }
            }
        }
        @media screen and (max-width: 480px) {
            .content{
                padding: 15px;
                padding-bottom: 0px;               
                .inputbox{
                    margin-bottom: 10px;
                    button{                   
                        margin-top: 0px;
                    }              
                }
            }
        }
    }
}
