
/* ----------FONT-FAMAILY---------- */
@font-face {
	font-family: "Roboto";
	src: url('~@/assets/font/Roboto/Roboto-Medium.ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('~@/assets/font/Roboto/Roboto-Regular.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('~@/assets/font/Roboto/Roboto-Light.ttf');
	font-weight: 400;
	font-style: normal;
}


/* ----------FONT-SETTING---------- */
$font_html:16;
$font_html_mobile:14;
html {
    font-size: $font_html+px;
    color: $color_grey_01;    
	font-family: "Roboto";
	font-weight: 400;
}
@media screen and (max-width: 480px) {
	html {
        font-size: $font_html_mobile+px;
    }
}
@function pxTorem($px) {
	@return $px/$font_html+rem;
}

h4{
    font-size: pxTorem(30);
	font-family: inherit;
	line-height: 1.2;
}
h5{
    font-size: pxTorem(20);
	font-family: inherit;
	line-height: 1.2;
}
h6{
    font-size: pxTorem(18);
	font-family: inherit;
	line-height: 1.2;
}
p,a,span{
    font-size: pxTorem(16);
	font-family: inherit;
	line-height: 1.2;
}
small{
    font-size: pxTorem(14);
	font-family: inherit;
	line-height: 1.2;
}