/* ----------VARIABLES---------- */
/*color*/
$color_white_01:#fff;
$color_white_02:#E9ECEF;
$color_black_01:#000000;
$color_grey_01:#232323;
$color_grey_02:#474747;
$color_grey_03:#9e9e9e;
$color_grey_04:#cccccc;
$color_blue_01:#007BFF;
$color_green_01:#28A745;
$color_red_01:#ff5656;