#member{
    min-height: calc(100vh - 90px);
    .icon{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        @extend %background_100;
    }
    .icon_folder_white{
        background-image: url('~@/assets/img/icon/folder_white.svg');
    }
    .icon_folder_black{
        background-image: url('~@/assets/img/icon/folder_black.svg');
    }
    .icon_test_white{
        background-image: url('~@/assets/img/icon/test_white.svg');
    }
    .icon_test_black{
        background-image: url('~@/assets/img/icon/test_black.svg');
    }
    .icon_edit_white{
        background-image: url('~@/assets/img/icon/edit_white.svg');
    }
    .icon_folderout_white{
        background-image: url('~@/assets/img/icon/folderout_white.svg');
    }
    .icon_movein_white{
        background-image: url('~@/assets/img/icon/movein_white.svg');
    }
    .icon_moveout_white{
        background-image: url('~@/assets/img/icon/moveout_white.svg');
    }
    .icon_dot{
        background-image: url('~@/assets/img/icon/dot.svg');
        margin-right: 0;
    }
    .icon_trash_white{
        background-image: url('~@/assets/img/icon/trash_white.svg');
    }
    .icon_play_white{
        background-image: url('~@/assets/img/icon/play_white.svg');
    }
    .select_filter{
        display: flex;
        align-items: center;          
        button{
            content: "";
            display: block;
            width: 25px;
            height: 25px;            
            @extend %background_100;            
            background-image: url('~@/assets/img/icon/arrow_black.svg');
            transform: rotate(90deg);
            cursor: pointer;
            &.islowtohigh{
                transform: rotate(-90deg);
            }  
        }
        select{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            text-align-last: right;
            display: flex;
            align-items: center;
            padding: 10px 5px;
            font-size: 16px;
            cursor: pointer;
            width: 90px;
        }
    }
    .select_mode{
        display: flex;
        align-items: center;      
        select{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 1px solid $color_grey_04;
            border-radius: 5px;
            text-align-last: left;
            display: flex;
            align-items: center;
            padding: 10px 5px;
            font-size: 16px;
            cursor: pointer;
            width: 150px;
            background-size: 20px 20px;
            background-position: 100% 50%;
            background-repeat: no-repeat;
            background-image: url('~@/assets/img/icon/triangle_black.svg');
        }
    }
    .toolbar{
        width: 100%;
        min-height: 50px;
        background-color: $color_grey_02;
        padding: 0 30px;
        display: flex;
        align-items: center;
        &.isFixed{
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: 0 0 3px 3px $color_grey_03;
        }
        .item{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 40px;
            .text{
                color: $color_white_01;
            }
        }
        @media screen and (max-width: 768px) {
            padding: 0 15px;
            .item{
                margin-right: 10px;
                padding: 10px;
                .icon{
                    width: 30px;
                    height: 30px;
                    margin-right: 0px;
                }
                .text{
                    display: none;
                }
            }
        }
    }
    .filecontainer{
        padding: 40px 0;
        .filebox{
            margin-bottom: 40px;
            .headbar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                border-bottom: 1px solid $color_grey_03;
                margin-bottom: 20px;
                .title{
                    color: $color_grey_01;
                    font-weight: 600;
                }
                .btn{
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    cursor: pointer;
                    .icon{
                        height: 20px;
                        margin-right: 5px;
                    }
                    .text{
                        color: $color_grey_02;
                    }
                }
            }
            .fileitembox{
                display: flex;
                flex-wrap: wrap;
                .fileitem{
                    width: 200px;
                    padding: 5px;
                    border: 1px solid $color_grey_04;
                    border-radius: 5px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    user-select: none;
                    background-color: $color_white_01;
                    transition: transform 0.3s ease;
                    cursor: default;
                    &.active{
                        background-color: $color_grey_04;
                        border: 1px solid $color_grey_03;
                    }
                    &.isdraped{
                        transform: scale(1.1);
                    }
                    .titlefield{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 5px;
                        .title{
                            display: flex;
                            align-items: center;
                            padding: 5px;
                            .icon{
                                height: 20px;
                                margin-right: 5px;
                            }
                            .text{
                                @include textdot(1);
                                color: $color_grey_02;
                            }
                        }
                    }
                    .detailfield{
                        display: flex;
                        flex-direction: column;                        
                        .text{
                            @include textdot(1);
                            color: $color_grey_02;
                            margin-bottom: 5px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1023px) {
            .filebox{
                .fileitembox{
                    margin-right: 0px;
                    margin-bottom: 10px;
                    .fileitem{
                        width: 180px;                      
                        margin-right: 10px;
                        margin-bottom: 10px;   
                    }
                }
            }            
        }
        @media screen and (max-width: 768px) {
            padding: 30px 0;
            .filebox{
                .fileitembox{
                    margin-right: -5px;
                    .fileitem{
                        width: calc(33% - 5px);             
                        margin-right: 5px;
                    }
                }
            }            
        }
        @media screen and (max-width: 480px) {           
            padding: 20px 0;
            .filebox{
                .fileitembox{
                    .fileitem{
                        width: calc(50% - 5px);             
                    }
                }
            }            
        }
    }
    .editcontainer{
        padding: 40px 0;
        .backbtn,
        .addbtn{
            display: flex;
            align-items: center;
            padding: 5px;
            padding-left: 1px;
            margin-bottom: 40px;
            cursor: pointer;
            position: relative;
            .btnicon{
                width: 20px;
                height: 20px;
                background-color: $color_grey_03;
                border-radius: 50%;
                transform: rotate(180deg);
                position: relative;
                margin-right: 5px;
                box-shadow: 0 0 5px $color_grey_04;
                &::before{
                    content: "";
                    @extend %background_100;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform:translate(-50%,-50%);
                }
            }
            .text{
                color: $color_grey_02;
            }
        }
        .backbtn{
            .btnicon{
                background-color: $color_grey_02;
                &::before{
                    background-image: url('~@/assets/img/icon/arrow_white.svg');
                }
            }
        }
        .addbtn{
            .btnicon{
                &::before{
                    background-image: url('~@/assets/img/icon/cross_white.svg');
                }
            }
        }
        .textfield{
            margin-bottom: 40px;
            .title{
                font-weight: 600;
                margin-bottom: 10px;
            }
            .titleinput{
                width: 100%;
                border:0;
                border-bottom: 1px solid $color_grey_03;
                background-color: $color_white_01;
                color: $color_grey_03;
                padding: 10px;
                padding-left: 5px;
                font-size: pxTorem(18);
            }
            .testbox{
                margin-bottom: 15px;
                .testitem{
                    width: 100%;
                    box-shadow: 0 0 5px $color_grey_03;
                    padding: 20px;
                    margin-bottom: 30px;
                    .headfield{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 10px;
                        border-bottom: 1px solid $color_grey_04;
                        margin-bottom: 20px;
                        .num{
                            
                        }
                        .closebtn{
                            width: 20px;
                            height: 20px;
                            background-color: $color_grey_03;
                            border-radius: 50%;
                            transform: rotate(180deg);
                            position: relative;
                            cursor: pointer;
                            box-shadow: 0 0 5px $color_grey_04;
                            &::before{
                                content: "";
                                @extend %background_100;
                                background-image: url('~@/assets/img/icon/close_white.svg');
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform:translate(-50%,-50%);
                            }
                        }
                    }
                    .inputfield{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .inputbox{
                            width: calc(50% - 10px);
                            .head{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 3px;
                            }
                            .name{
                                margin-bottom: 2px;
                                font-weight: 600;
                                color: $color_grey_03;
                            }
                            .radioinput{
                                display: flex;
                                .radiolabel{
                                    margin-left: 10px;
                                }
                            }
                            .testinput,.fileinput{
                                width: 100%;
                                border: 1px solid $color_grey_04;
                                color: $color_grey_03;
                                padding: 10px;
                                font-size: pxTorem(18);
                                border-radius: 10px;
                                min-height: 45px;
                            }
                            .fileinput{
                                padding: 7px 10px;
                            }
                            .imgori{
                                width: 100%;
                                margin-top: 5px;
                                .text{
                                    color: $color_blue_01;
                                    margin-bottom: 5px;
                                    display: block;
                                }
                                .img{
                                    width: 100%;
                                    padding-bottom: 45%;
                                    @extend %background_100;
                                    border: 1px solid $color_blue_01;
                                }
                            }
                        }
                    }
                   
                }
            }
            .iconbtn{
                .text{
                    color: $color_grey_03;
                    font-weight: 600;
                }
            }
        }
        .btnfield{
            width: 100%;
            display: flex;
            justify-content: center;
            .confirmbtn{
                cursor: pointer;
                padding: 10px 30px;
                background-color: $color_grey_03;
                border-radius: 5px;
                box-shadow: 0 0 5px $color_grey_04;
                .text{
                    color: $color_white_01;
                }
            }
        }
        @media screen and (max-width: 768px) {
            padding: 30px 0;
            .backbtn,
            .addbtn{
                margin-bottom: 20px;                
            }
            .textfield{
                margin-bottom: 20px;
            }
        }
        @media screen and (max-width: 640px) {
            .textfield{
                .testbox{
                    .testitem{
                        padding: 15px;
                        margin-bottom: 20px;
                        .inputfield{
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                            .inputbox{
                                width: 100%;
                                margin-bottom: 10px;
                                &:nth-last-child(1){
                                    margin-bottom: 0;
                                }                             
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 480px) {
            padding: 20px 0;
            .backbtn,
            .addbtn{
                margin-bottom: 15px;                
            }
            .textfield{
                margin-bottom: 15px;
            }
        }
    }
}