#member{
    min-height: calc(100vh - 90px);
    .icon_folder_white,
    .icon_folder_black,
    .icon_test_white,
    .icon_test_black,
    .icon_filter,
    .icon_dot{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        @extend %background_100;
    }
    .icon_folder_white{
        background-image: url('~@/assets/img/icon/folder_white.svg');
    }
    .icon_folder_black{
        background-image: url('~@/assets/img/icon/folder_black.svg');
    }
    .icon_test_white{
        background-image: url('~@/assets/img/icon/test_white.svg');
    }
    .icon_test_black{
        background-image: url('~@/assets/img/icon/test_black.svg');
    }
    .icon_filter{
        background-image: url('~@/assets/img/icon/filter.svg');
    }
    .icon_dot{
        background-image: url('~@/assets/img/icon/dot.svg');
        margin-right: 0;
    }
    .toolbar{
        width: 100%;
        min-height: 50px;
        background-color: $color_grey_02;
        padding: 0 30px;
        display: flex;
        align-items: center;
        .item{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 40px;
            padding: 5px;
            .icon{
                height: 20px;
                margin-right: 5px;
            }
            .text{
                color: $color_white_01;
            }
        }
    }
    .filecontainer{
        padding: 40px 0;
        .filebox{
            margin-bottom: 40px;
            .headbar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                border-bottom: 1px solid $color_grey_03;
                margin-bottom: 20px;
                .title{
                    color: $color_grey_01;
                    font-weight: 600;
                }
                .btn{
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    cursor: pointer;
                    .icon{
                        height: 20px;
                        margin-right: 5px;
                    }
                    .text{
                        color: $color_grey_02;
                    }
                }
            }
            .fileitembox{
                display: flex;
                flex-wrap: wrap;
                .fileitem{
                    width: 200px;
                    padding: 5px;
                    border: 1px solid $color_grey_04;
                    border-radius: 5px;
                    margin-right: 20px;
                    margin-bottom: 20px;                  
                    cursor: pointer;
                    .titlefield{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        .left{
                            display: flex;
                            align-items: center;
                            padding: 5px;
                            .icon{
                                height: 20px;
                                margin-right: 5px;
                            }
                            .text{
                                color: $color_grey_02;
                            }
                        }
                        .right{
                            .dotbtn{
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;                                
                                cursor: pointer;
                                .icon{
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .editcontainer{
        padding: 40px 0;
        .backbtn,
        .addbtn{
            display: flex;
            align-items: center;
            padding: 5px;
            padding-left: 0;
            margin-bottom: 40px;
            cursor: pointer;
            position: relative;
            .icon{
                width: 20px;
                height: 20px;
                background-color: $color_grey_03;
                border-radius: 50%;
                transform: rotate(180deg);
                position: relative;
                margin-right: 5px;
                box-shadow: 0 0 5px $color_grey_04;
                &::before{
                    content: "";
                    @extend %background_100;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform:translate(-50%,-50%);
                }
            }
            .text{
                color: $color_grey_02;
            }
        }
        .backbtn{
            .icon{
                background-color: $color_grey_02;
                &::before{
                    background-image: url('~@/assets/img/icon/arrow_white.svg');
                }
            }
        }
        .addbtn{
            .icon{
                &::before{
                    background-image: url('~@/assets/img/icon/cross_white.svg');
                }
            }
        }
        .textfield{
            margin-bottom: 40px;
            .title{
                font-weight: 600;
                margin-bottom: 10px;
            }
            .titleinput{
                width: 100%;
                border:0;
                border-bottom: 1px solid $color_grey_03;
                background-color: $color_white_01;
                color: $color_grey_03;
                padding: 10px;
                padding-left: 0;
                font-size: pxTorem(18);
            }
            .testbox{
                margin-bottom: 15px;
                .testitem{
                    width: 100%;
                    box-shadow: 0 0 5px $color_grey_03;
                    padding: 20px;
                    .headfield{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 10px;
                        border-bottom: 1px solid $color_grey_04;
                        margin-bottom: 20px;
                        .num{
                            
                        }
                        .closebtn{
                            width: 20px;
                            height: 20px;
                            background-color: $color_grey_03;
                            border-radius: 50%;
                            transform: rotate(180deg);
                            position: relative;
                            cursor: pointer;
                            box-shadow: 0 0 5px $color_grey_04;
                            &::before{
                                content: "";
                                @extend %background_100;
                                background-image: url('~@/assets/img/icon/close_white.svg');
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform:translate(-50%,-50%);
                            }
                        }
                    }
                    .inputfield{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin-bottom: 10px;
                        .inputbox{
                            width: calc(50% - 10px);
                            .name{
                                margin-bottom: 2px;
                                font-weight: 600;
                                color: $color_grey_03;
                            }
                            .testinput{
                                width: 100%;
                                border: 1px solid $color_grey_04;
                                color: $color_grey_03;
                                padding: 10px;
                                padding-left: 0;
                                font-size: pxTorem(18);
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
            .iconbtn{
                .text{
                    color: $color_grey_03;
                    font-weight: 600;
                }
            }
        }
        .btnfield{
            width: 100%;
            display: flex;
            justify-content: center;
            .confirmbtn{
                cursor: pointer;
                padding: 10px 30px;
                background-color: $color_grey_03;
                border-radius: 5px;
                box-shadow: 0 0 5px $color_grey_04;
                .text{
                    color: $color_white_01;
                }
            }
        }
    }
}